@use "../../global" as g;

/*!
page > contact
------------------------------
*/
.contact {
  padding: 80rem 0 120rem 0;
  @include g.mq() {
    padding: 120rem 0;
  }
}

.contact-message {
  font-size: 15rem;
  font-weight: 500;
  line-height: 1.9;
  @include g.mq() {
    font-size: 16rem;
  }
}

.contact-form {
  margin-top: 40rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24rem;
  @include g.mq() {
    grid-template-columns: 200rem 1fr;
    gap: 32rem;
  }
}

.contact-form-item {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
  @include g.mq() {
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: start;
    gap: 16rem;
  }

  &--submit {
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 20rem;
    @include g.mq() {
      margin-top: 52rem;
    }
  }
}

.contact-form-label {
  display: flex;
  gap: 8rem;
  @include g.mq() {
    padding-top: 16rem;
  }
}

.contact-form-label-text {
  font-size: 15rem;
  font-weight: 700;
  line-height: 1.47;
  @include g.mq() {
    font-size: 16rem;
    line-height: 1.44;
  }
}

.contact-form-label-required {
  font-size: 14rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--color-font-required);
}

.contact-form-submit-text {
  font-size: 15rem;
  line-height: 1.9;

  a {
    color: var(--color-font-primary);
    text-decoration-line: underline;
    text-decoration-thickness: 1px;
    text-decoration-color: (--color-font-primary);
    text-underline-offset: 3.5px;
    transition: opacity 0.3s;

    @media (any-hover: hover) {
      &:hover {
        opacity: 0.7;
      }
    }
  }

  @include g.mq() {
    font-size: 16rem;
  }
}

.contact-form-button {
  display: block;
  margin-inline: auto;
  margin-top: 16rem;
  width: 100%;
  max-width: 320rem;
  padding: 22rem 30rem;
  background-color: var(--color-bg-base);
  border-radius: 100vh;
  border: 1px solid var(--color-bg-base);
  font-size: 18rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: var(--color-bg-white);
  transition: all 0.3s;

  @include g.mq() {
    font-size: 18rem;
    margin-top: 6rem;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: var(--color-bg-white);
      color: var(--color-font-primary);
      border: 1px solid var(--color-bg-base);
    }
  }
}

.wpcf7 form .wpcf7-response-output {
  border-color: var(--color-other-border-error) !important;
  text-align: center !important;
  color: var(--color-font-required) !important;
  font-weight: bold !important;
  background-color: var(--color-bg-error) !important;
  padding: 1em 1em !important;
}

.wpcf7-not-valid-tip {
  color: var(--color-font-required) !important;
  margin-top: 6rem;
}
