@use "../../global" as g;

/*!
page > top > top-business
------------------------------
*/
.top-business {
  padding: 0 0 80rem 0;
  display: flex;
  flex-direction: column;
  gap: 56rem;
  position: relative;
  overflow: hidden;

  @include g.mq() {
    display: grid;
    grid-template-columns: 580rem auto;
    padding: 120rem 0 144rem 0;
  }

  &::after {
    content: "BUSINESS";
    font-family: var(--font-family-en);
    font-size: 120rem;
    opacity: 0.0282;
    position: absolute;
    left: 63rem;
    bottom: -80rem;
    z-index: var(--z-index-business);
    @include g.mq() {
      font-size: 240rem;
      left: 565rem;
      bottom: -90rem;
    }
  }
}

.top-business-image img {
  aspect-ratio: 340 / 227;
  border-bottom-left-radius: 32rem;

  @include g.mq() {
    aspect-ratio: 580 / 600;
    border-bottom-left-radius: 56rem;
  }
}

.top-business-content {
  display: flex;
  flex-direction: column;
  gap: 48rem;

  @include g.mq() {
    margin-top: -5rem;
    gap: 56rem;
  }
}

.top-business-text-ja {
  color: var(--color-font-light-base);
}

.top-business-sp-br {
  @include g.mq() {
    display: none;
  }
}

.top-business-message {
  margin-top: 24rem;

  span {
    display: block;
    line-height: 1.9;
  }

  @include g.mq() {
    margin-top: 40rem;
  }
}

.top-business-list {
  max-width: 340rem;
  @include g.mq() {
    max-width: 100%;
  }
}

.top-business-item {
  border-bottom: 1px solid var(--color-sep-light-gray);
  transition: color 0.3s;

  &:first-child {
    border-top: 1px solid var(--color-sep-light-gray);
  }

  h3 {
    font-weight: 500;
  }

  a {
    padding: 19rem 16rem 15rem 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16rem;
    font-size: 18rem;
    line-height: 1.44;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
    cursor: pointer;

    @include g.mq() {
      padding: 24rem 16rem;
      font-size: 20rem;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-font-primary);
        background-color: var(--color-bg-lightest-blue);

        & .top-business-item-icon {
          background-color: var(--color-bg-white);
        }

        & .top-business-item-icon-wrap {
          background-color: var(--color-bg-base);
        }
      }
    }
  }
}

.top-business-item-icon-wrap {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-color: var(--color-bg-lightest-blue);
  position: relative;
  transition: background-color 0.3s ease;
}

.top-business-item-icon {
  display: inline-block;
  width: 9rem;
  height: 11rem;
  mask-image: url(../img/icon-button-arrow.svg);
  mask-position: center;
  mask-size: cover;
  background-color: var(--color-bg-base);
  margin-right: 16rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}
